<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }} - Stowarzyszenie Nasze Dzieci</title>

        <link rel='shortcut icon' type='image/x-icon' href='{{ asset('favicon.ico') }}' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('js/slider.js') }}"></script>

        <link rel="stylesheet" href='{{ asset('fontello/css/font-awesome.min.css') }}'/>
        <link rel="stylesheet" href='{{ asset('fontello/css/fontello.css') }}'/>
        <link rel="stylesheet" href='{{ asset('fontello2/css/fontello.css') }}'/>

        <link rel="stylesheet" href='{{ asset('css/default.css') }}'/>
        <link rel="stylesheet" href='{{ asset('css/responsive.css') }}'/>

    </head>
    <body>

        <div id="fb-root"></div>

        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex-1].style.display = "block";
            }
        </script>     
      
       
        <header id="header">
            <nav>
                <div id="top-nav">
                    <div id="logo"><a href="{{ url('home') }}">
                        <img src="{{ asset('img/log.png') }}" alt="">       
                    </a></div>
                    <div id="logo2"></div>                
                    <div id="naglowek">
                        <h1>STOWARZYSZENIE NASZE DZIECI</h1>
                    </div>

                    <div id="krs">
                        <h2>KRS 0321775696</h2>

                        <div id="media">
                            <span>1%</span>
                            <i class="icon-facebook"></i>
                        </div>
                    </div>

                </div>

                <div id="nav">
                    <h2 class="krs-resp">KRS 0321775696</h2>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul>
                        <li><a href="{{ url('news') }}">Aktualności</a></li>
                        <li><a href="{{ url('about') }}">O nas</a></li>
                        <li><a href="{{ url('supportInfo') }}">Chcę pomóc</a></li>
                        <li><a href="{{ url('partners') }}">Partnerzy</a></li>
                        <li><a href="{{ url('contact') }}">Kontakt</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <section id="contact">
                <div class="top-contact">
                    <div class="info"><h4>O fundacji</h4></div>
                    <div class="info"><h4>News</h4></div>
                    <div class="info"><h4>Dla darczyńców</h4></div>
                    <div class="info"><h4>Kontakt</h4></div>
                </div>

                <div class="bottom-contact">
                    <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                    <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                    <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                    <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                    </div>  
                <div class="clear"></div>
            </section>
                
            <section id="contact2">
                    
                <div class="top-contact2"><h4>O fundacji</h4></div>
                <div class="info2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                                        
                <div class="top-contact2"><h4>News</h4></div>
                <div class="info2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                        
                <div class="top-contact2"><h4>Dla darczyńców</h4></div>
                <div class="info2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                        
                <div class="top-contact2"><h4>Kontakt</h4></div>
                <div class="info2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum obcaecati veniam, blanditiis necessitatibus sed placeat minus reiciendis commodi sint molestiae officia facere illo veritatis maxime corrupti quo distinctio dolor.</p></div>
                    
            </section>
                
            <div class="clear"></div>
                
            <div id="footer">
                <p>Copyright &copy; SeRafSite-Development</p>
            </div>
        </footer>
    </body>
</html>