{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}

<div>
    <div class='fresh'>
        <h2>Najnowsza</h2>
        <div id='fresh'>
            <a href="{{ '/aktualnosci/'~fresh.slug }}">
                <div class='fresh image'><img src="{{ asset('img/'~fresh.image) }}"></div>
                <h3>{{ fresh.name }}</h3>
                <p>{{ fresh.description }}</p>
            </a>
        </div>
    </div>

	<div id='aktualnosci'>
		<h3>Aktualności</h3>
    	{% for row in news %}
	    	<div class='aktualnosci'>
                <a href="{{ '/aktualnosci/'~row.slug }}">
                    <div class='aktualnosci image'><img src="{{ asset('img/'~row.image) }}"></div>	
    	    	</a>
	    	</div>
    	{% endfor %}
    </div>

    <div id="partnerzy">
        <h2>Wspierają nas!</h2>
        {% for row in partners %}
            <div class="logo"><a href="{{ row.slug }}">
                <img src="{{ asset('img/partners/'~row.image) }}" alt="">
            </a></div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}