{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}
<main>
    <div id="slider">
        <div class="slide-show">
            <div class="single-slide">
                <div id="photo2"></div>
                <div class="slider-caption" >
                    <div id="napis">
                        <h2>"Dzieci potrzebują ciepła wielkiej miłości, żeby być ludźmi."</h2>
                        <strong>~Phil Bosmans</strong>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div id="photo1"></div>
                <div class="slider-caption" >
                    <div id="napis">
                        <h2>"Kiedy śmieje się dziecko, śmieje się cały świat"</h2>
                        <strong>~Janusz Korczak</strong>
                    </div>
                </div>
                    
            </div>
            <div class="single-slide">
                <div id="photo3"></div>
                <div class="slider-caption">
                    <div id="napis">
                        <h2>"Tam, gdzie nie ma dzieci, brakuje nieba."</h2>
                        <strong>~Algernon Charles Swinburne</strong>
                    </div>  
                </div>
            </div>
            <div class="single-slide">
                <div id="photo4"></div>
                <div class="slider-caption">
                    <div id="napis">
                        <h2>"Dziecko to dar od Boga, który zakwita pod wpływem miłości"</h2>
                        <strong>~Phil Bosmans</strong>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div id="photo5"></div>
                <div class="slider-caption">
                    <div id="napis">
                        <h2>"Kiedy śmieje się dziecko, śmieje się cały świat"</h2>
                        <strong>~Janusz Korczak</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrows">
            <a href="#" class="prev-slide"><i class="icon-left-open-1" aria-hidden="true"></i></a>
            <a href="#" class="next-slide"><i class="icon-right-open-1" aria-hidden="true"></i></a>
        </div>
            
    </div>
    
    <section id="news">
       <h2>Aktualności</h2>
        <figure id="figure">
            <img src="{{ asset('img/'~fresh.image) }}" alt="">
            <figcaption>{{ fresh.name }}</figcaption>
        </figure>
        
        
        <div id="tekst">
            <h3>{{ fresh.name }}</h3>
            <p>
                {{ fresh.description }}
            </p>
        </div>   
    </section>
    
    <div id="goal">
        <section id="event">
            {% for row in news %}
                <figure class="figure">
                    <a href="{{ '/aktualnosci/'~row.slug }}">
                        <img src="{{ asset('img/'~row.image) }}">
                    </a>
                </figure>
            {% endfor %}
            
            <div class="clear"></div>
            
        </section>
        
        <aside id="fb">  
            <h3>FB</h3>
            <div class="fb-page" data-href="https://www.facebook.com/Stowarzyszenie-Nasze-Dzieci-128761657187814/" data-tabs="timeline"  data-height="445" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="width: 100%;">
            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
        </aside>
           
    </div>
    
    <section id="help">
        <h2>Chcę pomóc</h2>
        <i class="border"></i><i class="icon-heart"></i><i class="border"></i>
        <img src="{{ asset('img/1procent.png') }}" alt="pcq" style="float: right">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat corrupti excepturi, unde similique blanditiis. Quam expedita iusto voluptatem quod, voluptate harum nulla debitis, modi vitae a tempore quis odit explicabo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat corrupti excepturi, unde similique blanditiis. Quam expedita iusto voluptatem quod, voluptate harum nulla debitis, modi vitae a tempore quis odit explicabo.</p>
        
    </section>
    
    <section id="partnerzy">
        <h2>Wspierają nas!</h2>
        <div id="border">  
            <i class="border"></i><i class="icon-group"></i><i class="border"></i>
        </div>
        
        <div id="firm">
         
           <div class="mySlides not">

                   <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                
                    <div class="logo"><img src="assets/img/partners/bahlsen_logo.jpg" alt="bahlsen"></div>
                    <div class="logo"><img src="assets/img/partners/duet.png" alt="duet"></div>
                    <div class="logo"><img src="assets/img/partners/elwolight-logo.png" alt="duet"></div>
                <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
           </div>
           
            <div class="mySlides">
               <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <div class="logo"><img src="assets/img/partners/gryfix.png" alt="gryfix"></div>
                    <div class="logo"><img src="assets/img/partners/berner.png" alt="berner"></div>
                    <div class="logo"><img src="assets/img/partners/conus.jpg" alt="conus"></div>
                <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            
            <div class="mySlides">
                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <div class="logo"><img src="assets/img/partners/euro-trade.jpg" alt="euro-trade"></div>
                    <div class="logo"><img src="assets/img/partners/kmc-service.png" alt="kmc-service"></div>
                    <div class="logo"><img src="assets/img/partners/heban.png" alt="heban"></div>
                <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            
            <div class="mySlides">
               <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <div class="logo"><img src="assets/img/partners/hurt-poz.png" alt="hurt-poz"></div>
                    <div class="logo"><img src="assets/img/partners/lajkonik.jpg" alt="kmc-service"></div>
                    <div class="logo"><img src="assets/img/partners/lartus.png" alt="lartus"></div>
                <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            
        </div>
    </section>     
</main>


<!-- <div>
    <div class='fresh'>
        <h2>Najnowsza</h2>
        <div id='fresh'>
            <a href="{{ '/aktualnosci/'~fresh.slug }}">
                <div class='fresh image'><img src=""></div>
                <h3></h3>
                <p></p>
            </a>
        </div>
    </div> -->

<!--     <div id='aktualnosci'>
        <h3>Aktualności</h3>
        {% for row in news %}
            <div class='aktualnosci'>
                <a href="{{ '/aktualnosci/'~row.slug }}">
                    <div class='aktualnosci image'><img src="{{ asset('img/'~row.image) }}"></div>  
                </a>
            </div>
        {% endfor %}
    </div> -->

<!--     <div id="partnerzy">
        <h2>Wspierają nas!</h2>
        {% for row in partners %}
            <div class="logo"><a href="{{ row.slug }}">
                <img src="{{ asset('img/partners/'~row.image) }}" alt="">
            </a></div>
        {% endfor %}
    </div>
    
</div> -->

{% endblock %} 