{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}
	<div id='aktualnosci'>
		<h2>Aktualności</h2>
		{% for row in news %}
		    <div class='aktualnosci'>
		    	<h3>{{ row.name }}</h3>
	            <a href="{{ '/aktualnosci/'~row.slug }}">
	                <div class='aktualnosci image'><img src="{{ asset('img/'~row.image) }}"></div>	
	                <p>{{ row.description }}</p>
	    	  	</a>
		    </div>
		{% endfor %}
	</div>

	<div id='tree'>
		<ul>
			{% for key,value in tree %}
				<li><a href="/archiwum/{{ url[loop.index0] }}">{{ key }} ({{ value }})</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}