{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}



<div id="nextnews">
	    <div class="nextnews">
	    	<h2>{{ title }}</h2>
	    	<figure class="figurenews">
	    		<img src="{{ asset('img/'~news.image~'/image0.jpg') }}" alt="">
	            <figcaption>{{ news.datetime|date('Y-m-d') }}</figcaption>
	            <p>{{ news.description }}</p>
	        </figure> 
		</div>
		
		<div class="nextnews">
	    	<h2>{{ title }}</h2>
	    	<figure class="figurenews">
	    		<img src="{{ asset('img/'~news.image~'/image0.jpg') }}" alt="">
	            <figcaption>{{ news.datetime|date('Y-m-d') }}</figcaption>
	            <p>{{ news.description }}</p>
	        </figure> 
		</div>
		
		<div class="nextnews">
	    	<h2>{{ title }}</h2>
	    	<figure class="figurenews">
	    		<img src="{{ asset('img/'~news.image~'/image0.jpg') }}" alt="">
	            <figcaption>{{ news.datetime|date('Y-m-d') }}</figcaption>
	            <p>{{ news.description }}</p>
	        </figure> 
		</div>
		
		<div class="nextnews">
	    	<h2>{{ title }}</h2>
	    	<figure class="figurenews">
	    		<img src="{{ asset('img/'~news.image~'/image0.jpg') }}" alt="">
	            <figcaption>{{ news.datetime|date('Y-m-d') }}</figcaption>
	            <p>{{ news.description }}</p>
	        </figure> 
		</div>

</div>


<div id="resp"></div>
    
<aside id="asidenews">
   
    <h3>Archiwum</h3>
    <ul id="ulnews">
       	{% for key,value in tree %}
			<li><a href="/archiwum/{{ url[loop.index0] }}">{{ key }} ({{ value }})</a></li>
		{% endfor %}   
    </ul>
    
</aside>

<div class="clear"></div>

<div id="gallery">   
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci.jpg" alt=""></a>
    <a href="/assets/img/dzieci2.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci2.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci3.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage" src="/assets/img/dzieci3.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci.jpg" alt=""></a>
    <a href="/assets/img/dzieci2.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci2.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci3.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage" src="/assets/img/dzieci3.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci.jpg" alt=""></a>
    <a href="/assets/img/dzieci2.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci2.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage"  src="/assets/img/dzieci3.jpg" alt=""></a>
    <a href="/assets/img/dzieci.jpg"  data-lightbox="roadtrip"><img class="smallimage" src="/assets/img/dzieci3.jpg" alt=""></a>
</div> 

<!-- 	<div id='aktualnosci'>
		<h3>{{ title }}</h3>
		<p>{{ news.description }}</p>
    	{% for row in images %}
            <div class='aktualnosci image'><img src="{{ asset('img/'~news.image~'/'~row) }}"></div>	
    	{% endfor %}
    </div>
 -->{% endblock %}