{% extends 'Main/View/Template/main.html.twig' %}

{% block content %}

<div id="nextnews">

	    <div class="nextnews">
	    	<h2>{{ title }}</h2>
	    	<figure class="figurenews">
	    		<img src="{{ asset('img/'~news.image~'/image0.jpg') }}" alt="">
	            <figcaption>{{ news.datetime|date('Y-m-d') }}</figcaption>
	            <p>{{ news.description }}</p>
	        </figure> 
		</div>

</div>


<div id="resp"></div>
    
<aside id="asidenews">
   
    <h3>Archiwum</h3>
    <ul id="ulnews">
       	{% for key,value in tree %}
			<li><a href="/archiwum/{{ url[loop.index0] }}">{{ key }} ({{ value }})</a></li>
		{% endfor %}   
    </ul>
    
</aside>

<div class="clear"></div>

<div id="gallery">

    {% for row in images %}
        <a href="{{ asset('img/'~news.image~'/'~row) }}"  data-lightbox="roadtrip"><img class="smallimage"  src="{{ asset('img/'~news.image~'/'~row) }}" alt=""></a>
    {% endfor %}

</div> 

{% endblock %}